:root{
  --neon:#3b82f6;
  --bg:#05060a;
}

body{
  margin:0;
  background:var(--bg);
  color:#fff;
  font-family:system-ui;
}

.topbar{
  padding:14px;
  text-align:center;
  color:var(--neon);
  font-weight:700;
}

/* JAM + LOGO */
.time-logo-box{
  margin:16px;
  padding:16px;
  border-radius:16px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#0b0f1f;
  box-shadow:0 0 20px var(--neon);
}

#clock{
  font-size:32px;
  font-weight:800;
  color:var(--neon);
}

#zone{
  font-size:12px;
  opacity:.7;
}

.logo{
  width:42px;
  height:42px;
  border-radius:12px;
}

/* MENU */
.menu{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;
  padding:16px;
}

.card{
  padding:22px;
  border-radius:18px;
  background:#0b0f1f;
  text-align:center;
  font-size:14px;
  box-shadow:0 0 18px rgba(59,130,246,.4);
}

.card i{
  font-size:28px;
  color:var(--neon);
  display:block;
  margin-bottom:8px;
}

/* MUSIC */
.music-box{
  margin:20px;
  padding:18px;
  border-radius:18px;
  background:#0b0f1f;
  text-align:center;
}

.visualizer{
  display:flex;
  justify-content:center;
  gap:6px;
  height:30px;
  margin-bottom:14px;
}

.visualizer span{
  width:6px;
  height:10px;
  background:var(--neon);
  animation:beat 1s infinite;
}

@keyframes beat{
  0%,100%{height:10px}
  50%{height:30px}
}

.music-box button{
  width:56px;
  height:56px;
  border-radius:50%;
  border:none;
  background:var(--neon);
  color:#000;
  font-size:20px;
    }
